<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="G:/Voda_Task/apiTask/src/test/java">
        <classes>
            <class name="ApiTasks.CreateBoard"></class>
            <class name="ApiTasks.CreateCard"></class>
            <class name="ApiTasks.CreateList"></class>
            <class name="ApiTasks.DeleteBoard"></class>
            <class name="ApiTasks.DeleteList"></class>
        </classes>
    </test>
</suite>